<!--
Pós-Graduação Unisal 2017
Módulo: Design para Web e Mobile
Atividade Prática de Projeto Contextualizado
Pagina HTML para atividade em sala de aula
Projeto de desenvolvimento de layout de página responsivo e utilizando a técnica de form wizard
Página de Formulário para coleta de dados de Cotação de Seguros de Automóveis Online

Frameworks utilizados:
Gulp como Task Runner, automatizador de tarefas repetitivas como empacotar e gerar artefatos do projeto
Bootstrap: Design, resposividade e comportamento das páginas
Angular: Comportamento e integrações com APIs web services rest

Gulp: Automatizados de tarefas de empacotamento e gerenciamento de dependencias
NPM: Gerenciador de dependencias e pacotes
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Atividade prática: Pós-Graduação Desenvolvimento Web e Mobile Unisal 2017
		</title>

		<!-- Adicionando lib CSS do nosso framework bootstrap -->
		<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">

		<!-- Adicionando o nosso arquivo CSS onde vamos colocar nosso CSS customizado para dar uma aparência diferente na página -->
		<link rel="stylesheet" href="css/main.css">

		<!-- Adicionando lib CSS do nosso framework bootstrap -->
		<link rel="stylesheet" href="/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css">

		<!-- Inclusão do nosso arquivo JavaScript onde vamos colocar nosso código de comportamento na página -->
		<script type="text/javascript" src='/js/veiculos.js'></script>


	</head>

  <!-- inicio do corpo da página -->
	<body >

		<!-- inicio do container principal do nosso formulário de coleta de dados -->
		<div class="container-fluid header">
			<h1> Cotação de Seguro </h1>
			<p>As melhores opções em seguro para seu veículo, com os melhores preços!</p>

			<!-- Criando uma linha no nosso grid-->
			<div class="row">
				<section>

						<!-- Inicio do nosso form wizard -->
		        <div class="wizard" data-ng-controller='FormCotacaoController'>

								<!-- Barra de status do nosso wizard -->
		            <div class="wizard-inner">
		                <div class="connecting-line"></div>
		                <ul class="nav nav-tabs" role="tablist">

		                    <li role="presentation" class="active">
		                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Dados de Contato">
		                            <span class="round-tab">
		                                <i class=""></i>
		                            </span>
		                        </a>
		                    </li>

		                    <li role="presentation" class="disabled">
		                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Dados do veículo">
		                            <span class="round-tab">
		                                <i class=""></i>
		                            </span>
		                        </a>
		                    </li>
		                    <li role="presentation" class="disabled">
		                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Dados do Condutor">
		                            <span class="round-tab">
		                                <i class=""></i>
		                            </span>
		                        </a>
		                    </li>

		                    <li role="presentation" class="disabled">
		                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
		                            <span class="round-tab">
		                                <i class="glyphicon glyphicon-ok"></i>
		                            </span>
		                        </a>
		                    </li>
		                </ul>
		            </div>

								<!-- inicio do nosso form -->
		            <form novalidate role="form" name="form">

										<!-- Inicio do nosso conteudo em bloco (tabs) -->
		                <div class="tab-content">

												<!-- Conteúdo do primeiro passo (step-1) -->
		                    <div class="tab-pane active" role="tabpanel" id="step1">
														<div class="col-lg-3">
														</div>
														<div class="col-lg-6">
															<div class="center-block">
																<h3>Dados de Contato</h3>
																<p>Informe seus dados de contato.</p>
															</div>
															<div class="form-group">
																<label for="inputNome">Nome</label>
																<input type="text" class="form-control" id="inputNome" placeholder="Seu Nome" data-ng-model="cotacao.nomeCliente">
															</div>
															<div class="form-group">
																<label for="inputEmail">Email</label>
																<input type="email" class="form-control" id="inputEmail" name="inputEmail" data-ng-model="cotacao.email">
																<div ng-show="form.$submitted || form.inputEmail.$touched">
																      <span ng-show="form.inputEmail.$error.required">Informe seu e-mail.</span>
																      <span ng-show="form.inputEmail.$error.email">E-mail informado é inválido.</span>
																</div>
															</div>
															<div class="form-group">
																<label for="inputTelefone">Telefone</label>
																<input type="number" class="form-control" id="inputTelefone" name="inputTelefone" data-ng-model="cotacao.telefone">
																<div ng-show="form.$submitted || form.inputEmail.$touched">
																      <span ng-show="form.inputTelefone.$error.required">Informe seu telefone de contato.</span>
																      <span ng-show="form.inputTelefone.$error.telefone">Telefone informado é inválido.</span>
																</div>
															</div>
															<div class="center-block">
																	<ul class="list-inline pull-right">
			                            	<li>
																				<button type="button" class="btn btn-success btn-lg next-step" data-ng-click="update(form, 'STEP_2')">Continuar</button>
																			</li>
			                        		</ul>
																</div>
														</div>
														<div class="col-md-3 col-lg-3">

														</div>
		                    </div>
												<!-- Fim do Conteúdo do primeiro passo (step-1) -->

												<!-- Conteúdo do segundo passo (step-2) -->
		                    <div class="tab-pane" role="tabpanel" id="step2">
													<div class="col-lg-3">
														<!-- Coluna vazia-->
													</div>
													<div class="col-lg-6" data-ng-controller="VeiculosController">
														<div class="center-block">
															<h3>Dados do Veículo</h3>
															<p>Informe os dados do veículo.</p>
														</div>
														<div class="form-group">
															<label for="inputNome">Placa do Veículo</label>
															<input type="text" class="form-control" id="inputPlaca" placeholder="ABC1234" data-ng-model="cotacao.placa" ng-blur="update(form)">
														</div>
														<div class="form-group">
															<label for="inputMarca">Marca do Veículo</label>
															<select class="form-control" name="inputMarca" id="inputMarca" ng-options="s.nome for s in marcas track by s.id" data-ng-model="cotacao.marca">
																<option value="">Selecione</option>
															</select>
														</div>
														<div class="form-group">
															<label for="inputModelo">Modelo do Veículo</label>
															<select class="form-control" name="inputModelo" id="inputModelo" data-ng-init="cotacao.modelo || cotacao.marca[cotacao.marca.id]" ng-options="p.nome for p in cotacao.marca.modelos track by p.id" data-ng-model="cotacao.modelo" data-ng-blur="update(form)">
																<option value="">Selecione</option>
															</select>
														</div>

														<!-- dados de ano e modelo do veículo -->

														<div class="form-group">
														</div>
														<div class="center-block">
															<ul class="list-inline pull-right">
																	<li><button type="button" class="btn btn-default btn-lg prev-step">Voltar</button></li>
																	<li><button type="button" class="btn btn-success btn-lg next-step" data-ng-click="update(form, 'STEP_3')">Continuar</button></li>
															</ul>
														</div>
													</div>
													<div class="col-lg-3">
																<!-- Coluna vazia-->
													</div>
		                    </div>
												<!-- Fim Conteúdo do segundo passo (step-2) -->

												<!-- Conteúdo do terceiro passo (step-3) -->
		                    <div class="tab-pane" role="tabpanel" id="step3">
													<div class="col-lg-3">
														<!-- Coluna vazia-->
													</div>
													<div class="col-lg-6">
														<div class="center-block">
															<h3>Dados do Condutor</h3>
															<p>Informe os dados do condutor.</p>
														</div>
														<div class="form-group">
															<label for="inputNomeCondutor">Nome do Condutor</label>
															<input type="text" class="form-control" id="inputNomeCondutor" placeholder="Nome do Condutor" data-ng-model="cotacao.nomeCondutor" data-ng-blur="update(form)">
														</div>
														<div class="form-group">
															<label for="inputDataNascimentoCondutor">Data de Nascimento do Condutor</label>
															<input type="text" class="form-control" id="inputDataNascimentoCondutor" data-ng-model="cotacao.dataNascimento">
														</div>
														<div class="form-group">
															<label for="inputSexo">Sexo</label>
															<select class="form-control" name="inputSexo" id="inputSexo" data-ng-model="cotacao.sexo" data-ng-blur="update(form)">
																<option>Selecione</option>
																<option value="MASCULINO">Masculino</option>
																<option value="FEMININO">Feminino</option>
															</select>
														</div>

														<!--<div class="form-group">
															<label for="inputHabilitacaoCondutor">Nº Habilitação do Condutor</label>
															<input type="text" class="form-control" id="inputHabilitacaoCondutor" placeholder="Habilitaçao do Condutor" data-ng-model="cotacao.carteiraHabilitacao" data-ng-blur="update(form)">
														</div>-->

														<div class="form-group">
														</div>
														<div class="center-block">
															<ul class="list-inline pull-right">
			                            <li><button type="button" class="btn btn-default btn-lg prev-step">Voltar</button></li>
			                            <li><button type="button" class="btn btn-success btn-info-full btn-lg next-step" data-ng-click="finalize(form)">Concluir</button></li>
			                        </ul>
														</div>
													</div>
													<div class="col-lg-3">
														<!-- Coluna vazia-->
													</div>
		                    </div>
												<!-- Fim Conteúdo do terceiro passo (step-3) -->

												<!-- Conteúdo do último passo (step-4) -->
		                    <div class="tab-pane complete" role="tabpanel" id="complete">
													<div class="col-lg-3">
													</div>
													<div class="col-lg-6">
														<h3>Concluído!</h3>
														<div class="alert alert-success" role="alert">
															 <strong>Muito Obrigado!</strong> Recebemos sua solicitação e nossos especialistas já estão trabalhando para atendê-lo!
															 <p>Em instantes retornaremos para você com as melhores opções em seguros para seu veículo.</p>
														 </div>
													</div>
													<div class="col-lg-3">
													</div>
		                    </div>
												<!-- Fim Conteúdo do último passo (step-4) -->

		                    <div class="clearfix"></div>
		                </div>
										<!-- Fim do nosso bloco de conteúdo dos steps -->
		            </form>
								<!-- Fim do nosso form de coleta de dados -->
						</div>
						<!-- Fim do nosso form wizard -->
			  </section>
		  </div>
			<!-- Fim da nissa linha no nosso grid-->
			<div class="row">
			</div>
		</div>
		<!-- Fim do nosso container principal -->

		<!-- Inicio Rodapé da página -->
		<footer class="rodape back-ground-rodape">
					<div class="container">
						<div class="row pull-right">
							<div class="center-block"><p>© 2017 Unisal: Pós-Graduação em Design para Web e Mobile</p></div>
						</div>
					</div>
		</footer>
		<!-- Inicio Rodapé da página -->

  </body>
    <!-- Fim do corpo da página -->

		<!-- Inclusão das libs dos frameworks que utilizamos. Os arquivos JS são adicionados ao final do arquivo HTML, essa prática tem o objetivo de melhorar a performance da página. O framework tem precedencia em relação aos outros frameworks pois ele é um framework base para os outros 2 frameworks utilizados. Tanto Bootstrap quando Angular JS utilizamo jQuery como base -->
		<script type="text/javascript" src='lib/jquery/jquery.min.js'></script>

		<!-- Inclusão do Framework Bootstrap. Esse framework é quem faz para nós o trabalho de dar uma cara bonita para nossos elementos HTML na página e também cuida para que os elementos reajam de acordo com o tamanho da tela do usuário. É responsável pelo recurso de resposividade.-->
		<script type="text/javascript" src='lib/bootstrap/js/bootstrap.min.js'></script>

		<!-- Inclusão do Framework AngularJS para nos auxiliar na integração da página com a API web service que está esperando os dados coletados com o formulário -->
		<script type="text/javascript" src='lib/angular/angular.min.js'></script>

		<!-- Date Picker}-->
		<script type="text/javascript" src='/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js'></script>
		<script type="text/javascript" src='/lib/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js'></script>

		<!-- Inclusão do nosso arquivo JavaScript onde vamos colocar nosso código de comportamento na página -->
		<script type="text/javascript" src='/js/veiculos.js'></script>

		<!-- Inclusão do nosso arquivo JavaScript onde vamos colocar nosso código de comportamento na página -->
		<script type="text/javascript" src='/js/app.js'></script>

		<!-- Inclusão do nosso arquivo JavaScript onde vamos colocar nosso código de comportamento na página -->
		<script type="text/javascript" src='/js/main.js'></script>

</html>
